<%- include ./partials/head.ejs %>

<h1>Overview</h1>
<ul class="content">
    <% pokemonData.forEach(function(pokemon) { %>
    <li>
        <a class="pokemon-card pokemon-<%- pokemon.id %>" href="/<%- pokemon.name %>">
            <h2><%- pokemon.name %></h2>
        </a>
    </li>
    <% }); %>
</ul>

<%- include ./partials/footer.ejs %>